<html lang="en" xmlns:th="http://www.thymeleaf.org">
<div th:insert="~{headers::bootstrap}"/>
<body>
<h2>Новый пользователь</h2>

<form th:action="@{/signup}" method="post" th:object="${newPerson}">
    <br><label for="username">Логин</label>
    <input type="text" id="username" name="username" th:field="*{loginName}"/>

    <br><label for="password">Пароль</label>
    <input type="password" id="password" name="password" th:field="*{password}"/>

    <br><label for="personname">ФИО</label>
    <input type="text" id="personname" name="personname" th:field="*{name}"/>

    <br><label for="phone">Телефон</label>
    <input type="text" id="phone" name="phone" th:field="*{phone}"/>

    <br><input type="submit" value="Создать">
</form>